<app-header />

<div class="intro">
    <h1>Hi, I am Anjali!</h1>
    <p style="color: #555555; font-weight: bold;">Your Favourite Future Software Engineer</p><br>
    <p>
        Feel free to explore my portfolio to see some of my projects<br>
        I've been working on. Connect with me if you'd like to collaborate<br>
        or chat about technology and software engineering!
    </p>
    <a href="https://drive.google.com/file/d/1yi3MsyFcrPfVnTSYOpMlHI3zAuRHIO52/preview" target="_blank">
        <button>Resume</button>
    </a>
</div>

<div id="about" class="about-section">
  <h1>About Me</h1>
  <p>
      As an aspiring software engineer, I am deeply passionate about solving complex problems through technology. With each project, I strive to create meaningful and impactful software. My journey in programming is driven by curiosity and a commitment to continuous learning in various languages and frameworks.
  </p><br>
  <p>
      Outside of coding, I enjoy creative hobbies like playing the guitar, painting, and reading. These activities offer a refreshing balance to my technical pursuits, helping me to bring new perspectives to my work.
  </p>
  
  <!-- Hobbies section with Polaroid images -->
  <div class="hobbies">
      <!-- Playing Guitar -->
      <div class="hobby-item guitar">
          <img src="/assets/guitar.jpg" alt="Playing Guitar">
          <div class="hover-description">
              Playing the guitar is one of my favorite hobbies 🎸
          </div>
      </div>
      
      <!-- Painting -->
      <div class="hobby-item painting">
          <img src="/assets/painting.jpg" alt="Painting">
          <div class="hover-description">
              I love expressing creativity through painting 🎨
          </div>
      </div>
      
      <!-- Reading -->
      <div class="hobby-item reading">
          <img src="/assets/reading.jpg" alt="Reading">
          <div class="hover-description">
              Books are my escape from reality 📚
          </div>
      </div>
  </div>
</div>


<div id="projects" class="projects-section">
  <h1>Projects</h1>
  <p>
    Welcome to my projects section! Here, you'll find a collection of my work across various fields, showcasing my skills in web development, programming languages, and frameworks.
  </p>

  <!-- Projects container -->
  <div class="projects-container">
    <mat-card *ngFor="let project of projects" class="project-card">
      <mat-card-header>
        <mat-card-title>{{ project.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ project.description }}</p>
        <p style="margin-top: 10px;"><span>Tech used: </span>{{ project.technologies }}</p>
      </mat-card-content>
      <mat-card-actions>
        <a *ngIf="project.link" [href]="project.link" target="_blank">
          <button>View</button>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<app-footer />
